[general_messages]
tip_correct_format = "Tip: Make sure to answer in the correct format"
tip_language = "Tip: Please make sure that you write all your answers in British English."
tool_name = "Data Wellness Companion"

[general_settings]
questions_per_batch = 1
minimum_number_of_questions = 4


[questionnaire]
    [questionnaire.initial]
    question = "Which area of your data ecosystem are you most concerned about?"
    system_message = "You are a data integration and gouvernance expert that can ask questions about data integration and gouvernance to help a customer with data integration and gouvernance problems. You use British English."
    human_message = """Based on the best practices and knowledge base and on an answer to a question answered by a customer, \
please generate {questions_per_batch} questions that are helpful to this customer to solve data integration and gouvernance issues.
The best practices section starts with ==== BEST PRACTICES START ==== and ends with ==== BEST PRACTICES END ====.
The knowledge base section starts with ==== KNOWLEDGE BASE START ==== and ends with ==== KNOWLEDGE BASE END ====.
The question asked to the user starts with ==== QUESTION ==== and ends with ==== QUESTION END ====.
The user answer provided by the customer starts with ==== ANSWER ==== and ends with ==== ANSWER END ====.
==== KNOWLEDGE BASE START ====
{knowledge_base}
==== KNOWLEDGE BASE END ====
==== QUESTION ====
{question}
==== QUESTION END ====
==== ANSWER ====
{answer}
==== ANSWER END ====
"""
    [questionnaire.secondary]
    system_message = "You are a British data integration and governance expert that can ask questions about data integration and governance to help a customer with data integration and governance problems. You use British English."
    human_message = """Based on the best practices and knowledge base and answers to multiple questions answered by a customer, \
please generate {questions_per_batch} questions that are helpful to this customer to solve data integration, governance and quality issues. Make sure that you ask the user about his painpoints or questions which help to understand the user's problems better and to gather more information - and not how to solve his own problems. Your purpose is to gather information to help a customer solve data integration, gouvernance and quality issues.

Also provide at least 4 possible answers to the questions you generate. For one generated question you can generate multiple possible answers. Each generated possible answer should not be more than 2 sentences.
Make sure that the possible answers are explicit and are able to be understood on their own. Please do not use possible answers like 'Both', 'Like the previous possible answer'.

Main questionnaire topic: {questionnaire_topic}
The questions should explore topics related to the main topic "{questionnaire_topic}".

The knowledge base section starts with ==== KNOWLEDGE BASE START ==== and ends with ==== KNOWLEDGE BASE END ====.
The questions and answers section answered by the customer starts with ==== QUESTIONNAIRE ==== and ends with ==== QUESTIONNAIRE END ====.
The user answers are in the section that starts with ==== ANSWERS ==== and ends with ==== ANSWERS END ====.

==== KNOWLEDGE BASE START ====
{knowledge_base}
==== KNOWLEDGE BASE END ====
==== QUESTIONNAIRE ====
{questions_answers}
==== QUESTIONNAIRE END ====
==== ANSWERS ====
{answers}
==== ANSWERS END ====

When generating the questions, please also take the confidence report between ==== CONFIDENCE REPORT ==== and ==== CONFIDENCE REPORT END ==== into account which can improve the overall confidence level:

==== CONFIDENCE REPORT ====
{confidence_report}
==== CONFIDENCE REPORT END ====
"""
    [questionnaire.secondary_regenerate]
    human_message = """Please note: previously a question has been generated, but the end user decided to generate another one.
This was the previous question which the user did not like: '{previous_question}'.
Make sure you generate a different question.
"""
    [questionnaire.clarification]
    system_message = "I am a helpful assistant. I explain the meaning of questions step by step. I highlight the main topics in bold markdown. I use British English."
    human_message = """Please explain the following question in a way that a layman can understand it:

{question}
"""

[tagging]
system_message = "You are an expert in terms of getting different types of sentiments from sentences."
human_message = """Given this input that starts with === INPUT START === and ends with === INPUT END ===
=== INPUT START ===
{answer}
=== INPUT END ===
can you tell me whether there is a question related to data analytics, data governance and strategies in it or not and whether the overall sentiment of the text indicates some sort of confusion?"""
human_message_extraction = """Given this input that starts with === INPUT START === and ends with === INPUT END ===
=== INPUT START ===
{answer}
=== INPUT END ===
can you extract question related to data analytics, data governance and strategies, if there is one?"""

[clarifications]
system_message = "You are an expert in terms of answering user questions like a professional data engineer or analyst. You use British English."
human_message = """Given this input that starts with === INPUT START === and ends with === INPUT END ===
=== INPUT START ===
{questions}
=== INPUT END ===
can you please answer all questions related to data analytics, data governance and strategies you see in it? 
If you see questions related to topics that are totally unrelated to data analytics, data governance and strategies, please tell the user that you only answer questions about these topics.
Please be concise and limit your replies to around 30 words if possible. 
Do not reply with follow up questions like 'Would you like more information?'."""

[advice]
system_message = """You are a British data integration and gouvernance advisor \
that gives advice about data integration and gouvernance to help a customer with data integration and gouvernance problems \
You spend alwayas a few sentences explaining the assumptions and reasoning behind the advice you then present. You use British English."""
human_message = """Based on the best practices and knowledge base and answers to multiple questions answered by a customer, \
please generate a series of at most 5 advices that are helpful to this customer to solve data integration and gouvernance issues \
if the customer has given enough information in his answers to your questions. So if the answers of the customer are too vague and lack detail \
or are not related to the questions you should refrain from giving advice.

Also include 3 pieces of advice about what the customer should avoid. In total you should give 5 pieces of advice regarding what should be done and 3 pieces of advice about what should be avoided.
Please also describe 3 potential positive outcomes in case the customer follows the suggested advices.
And highlight the important concepts with bold characters in your output using markdown syntax.

Make sure not to enumerate the advices if you decide to give them.
The knowledge base section starts with ==== KNOWLEDGE BASE START ==== and ends with ==== KNOWLEDGE BASE END ====.
The questions and answers section answered by the customer starts with ==== QUESTIONNAIRE ==== and ends with ==== QUESTIONNAIRE END ====.
==== KNOWLEDGE BASE START ====
{knowledge_base}
==== KNOWLEDGE BASE END ====
==== QUESTIONNAIRE ====
{questions_answers}
==== QUESTIONNAIRE END ====

Here is an example of a questionnaire with answers that are too vague to which you should not give advice:
==== QUESTIONNAIRE EXAMPLE ====
question: Which area of your data ecosystem are you most concerned about?
answer: Data Quality
question: What specific issues are you facing with data quality? Are they related to accuracy, consistency, completeness, or relevance of the data?
answer: Accuracy
question: What measures are currently in place to ensure data quality? Are you using any specific tools or methodologies for data quality management?
answer: We are using an MDM product.
==== QUESTIONNAIRE EXAMPLE END ====

Here is an example of a questionnaire with answers that have enough detail to which you should give advices:
==== QUESTIONNAIRE EXAMPLE ====
question: Which area of your data ecosystem are you most concerned about?
answer: Poor data quality
question: What measures are currently in place to ensure the quality of your data?
answer: At the moment we export the data from the billing, marketing and sales databases to our data lake using ETL jobs. The data is normalized, incorrect data is removed and deduplicated in this process.
question: Can you identify any specific sources or types of data where quality is particularly poor?
answer: Yes, customer data. It is often incorrect and has many duplicates.
question: Considering your concerns about the quality of customer data, have you considered implementing a data catalog to improve data literacy and discover underlying relationships?
answer: Yes, but we have not done so. Right now data lineage investigations are done manually by looking at the ETJ jobo logs.
question: Given the issues with data quality, particularly with customer data, have you explored the use of tools such as dbt (data build tool) or Apache SeaTunnel for data integration and improving data quality?
answer: Not yet, but I would like to know about it.
==== QUESTIONNAIRE EXAMPLE END ====

"""

[extract_ontology]
    system_message = """You are an expert at creating ontologies"""
    human_message = """# Ontology from text:

Extract an ontology. Do not draw it, but create a markdown table of relations with 3 columns in this order: source, target, relation name. And also create a list with 2 columns: the first contains the term name and the second column contains the term definition.
the relations should only be mapped to source, target, relations
Use this text as a basis:

```
{questions_answers}

{conditional_advice}

```
"""

[confidence_prompt]
    system_message = "You are an expert at giving data governance advice based on a question answer dialogue with a customer"
    human_message = """Determine how confident you are in terms giving advice to a customer based on a sequence of questions and answers that you can find here:

```
{questions_answers}
```

In order to be confident you should know about the difficulties of the customer. You should know about the following:
* the customer's main problem
* have some detailed information about his problem. Just having a high-level sentence on the problem of the customer like e.g: "Data Quality" is not enough to be confident.
* you should have also knowledge about what is causing the problem.
* ideally you know more than one cause behind the main problem of the customer. 
* you also need some more background information about the technologies used by the customer to be confident.
* you should also know about the data governance strategies of the customer to be able to have a high degree of confidence.

Please use the following classifications to this question about the degree of confidence with which you can give advice:

- "outstanding"
- "high"
- "medium"
- "mediocre"
- "low"

For example, you should report an "outstanding" confidence degree when:
You know the main problem of the customer and the causes well. You also know about data governance aspects related to the customer's organisation. 
And you also know the technological landscape of the customer very well.

For example, you should report a "high" confidence degree when:
You know the main problem of the customer and the causes well. You also know about data governance aspects related to the customer's organisation. 
The only thing missing is more background information about the technological landscape of the customer.

For example, you should report a "medium" confidence degree when:
You know the main problem of the customer and the causes well.
You miss the background information about the technological landscape of the customer and also about data governance in the customer's company.

For example, you should report a "mediocre" confidence degree when:
You know the main problem of the customer and the cause not well. The information about the causes is very limited
You miss the background information about the technological landscape of the customer and also about data governance in the customer's company.

For example, you should report a "low" confidence degree when:
You know the main problem of the customer and nothing else. Or you do not even know about the main problem of the user.
"""

[reporting]
    [reporting.summarization_prompt]
        system_message = "You are an expert at creating summaries of dialogues in which you capture the main topics of questionnaires and provided types of advice."
        human_message = """
Based on the text below starting from === Questionnaire === and ending at === Questionnaire End === can you please summarize the content of the questionnaire and provided advices?

Please summarize and keep the original sections. So, please keep the following sections and then summarize each, like so:

# Questionnaire
<summary>
# Recommendations
<summary>
# What to avoid
<summary>
# Positive outcomes
<summary>

<summary> is just a placeholder for you summary.

=== Questionnaire ===
{full_questionnaire}
=== Questionnaire End ===
"""
    [reporting.keyword_extraction_prompt]
        system_message = "You are an expert at keyword extraction in long reports. You excel at extracting keywords with concepts from large amounts of text."
        human_message = """
Based on the text below starting from === Questionnaire === and ending at === Questionnaire End === can you please extract the following items from the questionnaire section which always starts with "# Questionnaire":
- stated problems as keywords with problem area as keywords and degree as keywords
- concepts as keywords with corresponding area as keywords

From the recommendations (starting with "# Recommendations") sections can you please extract the following:
- recommendations as keywords
- strategies as keywords

From the "# What to avoid" section can you please extract extract the negative recommendations as keywords.

From the "# Positive outcomes" section can you please extract extract the positive outcomes as keywords.

Regarding the problems and areas, here are some examples of problems:

name: data duplication, area: data quality, degree: negative
name: resistence to change, area: human resources, degree: moderate
name: data silos, area: enterprise data architecture, degree: very negative
name: skill shortage, area: human resources, degree: moderate

Regarding the concepts, here are some examples:

name: data lake, area: enterprise data architecture
name: data mart, area: enterprise data architecture

Regarding the recommendations, here are some examples:

name: Invest in Data Quality Training, area: data quality
name: Implement Data Governance Policies, area: data gouvernance
name: Adopt Feedback Loops, area: human resources

Regarding negative recommendations (about what you should avoid), here are some examples:

- Avoid Overburdening Your Team
- Do Not Rely Solely on External Consultants

Regarding positive outcomes, here are some examples:

- Enhanced ability to extract meaningful insights from data
- Improved data governance
- Improved data quality

=== Questionnaire ===
{full_questionnaires}
=== Questionnaire End ===
"""
    [reporting.keyword_document_classifier]
        system_message = "You are an expert at document classification. You can detect whether some keywords are relevant to a document or not."
        human_message = """
Based on the text below starting from === Questionnaire === and ending at === Questionnaire End === can you please identify whether the following keywords in different categories are relevant to the questionnaire or not.

Category: Problems
{problems}

Category: Problem Areas
{problem_areas}

Category: Concepts 
{concepts}

Category: Recommendations
{recommendations}

Category: Negative recommendations
{negative_recommendations}

Category: Positive outcomes
{positive_outcomes}

=== Questionnaire ===
{full_questionnaire}
=== Questionnaire End ===

"""

[consultants]
    [consultants.evaluation]
        system_message = "You are an analyst that is specialized in rating consultants based on a questionnaire with a customer and a set of analyst CVs."
        human_message = """
Based on the content of a customer questionnaire below starting from === Questionnaire === and ending at === Questionnaire End === , initial advice given to a customer that starts from === Advice Section Start === and ends with === Advice Section End === and a list of CVs starting from === CVs Start === and ending with === CVs End ===, please rate each analyst in terms of their consulting capabilities to help the customer.

There are 5 categories to rate each analyst that reflect the capability of the analyst to help the interviewed customer:

- very suitable
- suitable
- moderately suitable
- hardly suitable
- unsuitable

The questionnaire's questions were answered by the customer and asked by a large language model. The customer should be evaluated based on the answers rather than on the questions.

=== Questionnaire ===
{questions_answers}
=== Questionnaire End ===

=== Advice Section Start ===
{conditional_advice}
=== Advice Section End ===

=== CVs Start ===
{cvs}
=== CVs End ===

At the end of this activity, you should have rated the anaylists with one of the five categories, reflecting the degree to which they can help the interviewed customer based on their CV, professional experience and also skills.
You can also express your degree of confidence in your verdict and also your reasoning that led you to assign a category to a consultant.
"""

[deep_research]
    [deep_research.advice]
        system_message = """
You are an expert at giving deep research based explanations on a questionnaire with a customer. You focus on explaining the specific advice given to the customer and research the advice in depth using your knowledge base and knowledge available on the internet.

You use British English and also use markdown syntax to format your output.
"""
        human_message = """
Based on the content of a customer questionnaire below starting from === Questionnaire === and ending at === Questionnaire End ===, explore in depth the initial advice given to a customer that starts from === Advice Section Start === and ends with === Advice Section End ===.

Whilst performing deep research make sure:

- to extract first the topics mentioned in the advice and then research each topic in depth. 
- Eventually make connections between the topics 
- Connect the topics to the answers of the questionnaire.
- Explain why the advice is given and why it is relevant to the customer's situation.

Note that the main problem of the customer is mentioned in the answer of the initial question of the questionnaire.

The questionnaire's questions were answered by the customer and asked by a large language model. The customer should be evaluated based on the answers rather than on the questions.

=== Questionnaire ===
{questions_answers}
=== Questionnaire End ===

=== Advice Section Start ===
{conditional_advice}
=== Advice Section End ===

"""