[tool.poetry]
name = "data-questionnaire-agent"
version = "0.2.0"
description = "Implementation of an agent which asks questions and gives advices about a predefined question."
authors = ["Gil Fernandes <gil.fernandes@onepointltd.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
openai = "^1.17.0"
langchain = "^0.1.15"
langchain-community = "0.0.32"
prompt-toolkit = "^3.0.39"
tomli = "^2.0.1"
faiss-cpu = "^1.7.4"
tiktoken = "^0.5.1"
python-dotenv = "^1.0.0"
pydantic = "1.10.12"
duckduckgo-search = "^3.8.5"
pdfkit = "^1.0.0"
opencv-python = "^4.8.1.78"
scikit-image = "^0.21.0"
tenacity = "^8.2.3"
psycopg = {extras = ["binary"], version = "^3.1.18"}
aiohttp = "^3.9.3"
langchain-openai = "^0.1.2"
python-socketio = "^5.11.2"
asyncer = "^0.0.5"
jinja2 = "^3.1.3"

[tool.poetry.scripts]
build-ui = "data_questionnaire_agent.build:ui"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
black = "^23.11.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
